.cardsSection {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /* width: 100vw; */
  height: 20vh;
  margin-top: 5vh;
  margin-bottom: 50px;
  gap: 35px;
}

/* .cards-section .card-container { */
.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* width: 300px; */
  /* margin-top: 50px; */
}

/* .card-item { */
.cardItem {
  flex: 1;
  width: 70vw;
  height: 30vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  gap: 25px;
  padding: 30px;
  /* width: max-content; */
  /* height: max-content; */
  filter: grayscale(20%);
  border: 0.5px solid var(--accent-color);
  transition: all 0.1s ease-in;

  &:hover {
    color: white;
    filter: none;
    background-blend-mode: normal;
  }
}

.cardItem h2,
.cardItem p {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

.cardItem h2 {
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 10px;
}

.cardItem p {
  font-size: 1.2rem;
  font-weight: 300;
  margin-bottom: 10px;
}


/* .cardImage img {
  width: 20vw;
  height: 100%;
  filter: blur(5px);
  filter: grayscale(50%);
  object-fit: cover;
} */

.cardImage img:hover {
  filter: none;
  scale: 1.1;
}

.cardImage:hover,
.cardImage img:hover,
.cardItem:hover {
  transition: all 0.3s ease-in-out;
  scale: 1.02;
  filter: none;
}
